body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
    padding: 1%;
    margin: 1%;
}

.grid-elem {
    text-align: center;
    text-align-all: center;
    background: cornflowerblue;
    color: black;
}